<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="container" style="max-width: 500px;">
      <form #FormAdd="ngForm" (submit)="add()">
        <div class="input-group mb-3">
          <input required [(ngModel)]="newTask.title" class="form-control" name="taskTitle" type="text" placeholder="Todo">
          <button [disabled]="FormAdd.invalid" type="submit" class="btn add-button">Add</button>
        </div>
      </form>
      <!-- edit -->

      <ul class="list-group">
        <li class="list-group-item d-flex" *ngFor="let taskItem of taskItems; let i = index" [class.even]="i%2==0"
          [class.odd]="i%2">
          <div class="me-auto p-2">
            <input *ngIf="!taskItem.isEditMode" [checked]="taskItem.isDone" (change)="toggleIsDone(taskItem)" class="checkbox form-check-input me-2"
              type="checkbox" value="" id="firstCheckbox">
           <ng-container *ngIf="!taskItem.isEditMode; else editField">
            <label class="form-check-label" [class.is-done]="taskItem.isDone">{{taskItem.title}}</label>
           </ng-container>
           <ng-template #editField>
            <form #FormEdit="ngForm"(ngSubmit)="update()">
              <div class="input-group mb-3">
                <input [(ngModel)]="selectedTask.title" class="form-control" name="taskTitle" type="text">    
                <button type="submit" class="btn btn-dark">Edit</button>
              </div>
            </form>
          </ng-template>
          </div>
              <a class="btn btn-sm" *ngIf="!taskItem.isDone && !taskItem.isEditMode"
              (click)="toggleEditMode(taskItem)"><i class="edit-button bi bi-pen-fill"></i></a>
          <span (click)="delete(taskItem.id)" class="btn btn-sm" *ngIf="!taskItem.isDone && !taskItem.isEditMode"><i
              class="remove-button bi bi-trash-fill"></i></span>
        </li>
      </ul>
    </div> 
</div>

