.add-button {
  color: #ffffff;
  background-color: rgb(23, 23, 23);

}

.remove-button {
  color: rgb(180, 15, 15);
  font-size: 18px;
}

.edit-button {
  color: blue;
  font-size: 18px;
}
.even {
  background-color: #71b7c4;
}

.odd {
  background-color: #d395b5;
}

.is-done {
  text-decoration: line-through;
  color: #c7c7c7;
}

.checkbox{
border-color: black;
cursor: pointer;
}
.form-check-input:checked {
  background-color: #4e4646

}

// .form-control:focus {
//   box-shadow: 0 0 0 .15rem rgb(67, 70, 83, 0,25);
// }

.modal-dialog {
  bottom: 0;
  left: 0;
  margin: auto;
  max-height: 500px;
  max-width: 300px;
  min-width: 250px;
  position: absolute;
  right: 0;
  top: 0;
}
.modal-content {
  background-color: rgb(174, 183, 217);

}

.modal-title, .modal-body {
  margin: 0 auto;
}
