<div class="container" style="max-width: 500px;">
  <form #FormAdd="ngForm" *ngIf="!isEditMode" (submit)="add()">
    <div class="input-group mb-3">
      <input required [(ngModel)]="newTask.title" class="form-control" name="taskTitle" type="text" placeholder="Todo">
      <button [disabled]="FormAdd.invalid" type="submit" class="btn add-button">Add</button>
    </div>
  </form>
  <!-- edit -->
  <form #FormEdit="ngForm" *ngIf="isEditMode" (ngSubmit)="update()">
    <div class="input-group mb-3">
      <input [(ngModel)]="selectedTask.title" class="form-control" name="taskTitle" type="text"
        placeholder="Todo">
      <button type="submit" class="btn btn-secondary">Edit</button>
    </div>
  </form>
  <ul class="list-group">
    <li class="list-group-item d-flex" *ngFor="let taskItem of taskItems; let i = index" [class.even]="i%2==0"
      [class.odd]="i%2">
      <div class="me-auto p-2">
        <input [checked]="taskItem.isDone" (change)="toggle(taskItem)" class="checkbox form-check-input me-2"
          type="checkbox" value="" id="firstCheckbox">
        <label class="form-check-label" [class.is-done]="taskItem.isDone">{{taskItem.title}}</label>
      </div>
      <a [routerLink]="['/todo', 'edit', taskItem.id]" class="btn btn-sm" (click)="isEditMode = true" *ngIf="!taskItem.isDone"><mat-icon
          class="edit-button">create</mat-icon></a>
      <span (click)="delete(taskItem.id)" class="btn btn-sm" *ngIf="!taskItem.isDone"><mat-icon
          class="remove-button">delete_forever</mat-icon></span>
    </li>
  </ul>
</div>
