a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  cursor: pointer;
  font-weight: 600;
}

.logo {
  width: 35px;
  margin-right: 1rem;
}

.nav-link {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-weight: 600;
}

a {
  color: black;
}

.nav-link:focus,
.nav-link:hover {
  color: white;
}


.dropdown-item{
  cursor: pointer;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


