h1{
    text-align: center;
}

.icon{
    display: flex;
    align-items: center;
    text-align: center;    
}

.mat-icon{
    height:  65px;
    width: 300px;
    font-size: 65px;   
}

p{
    text-align: center;
    font-size: 18px;
}

.mat-dialog-actions {
    // ...
    &[align='end'] {
      justify-content: flex-end;
    }
  
    &[align='center'] {
      justify-content: center;
    }

    ;
  }