<div class="modal-content text-center align-items-center" style="background-color: #a5ccd6;">
  <div class="modal-header border-0">
    <h2 class="modal-title">{{data.title}}</h2>
  </div>
  <div class="modal-body">
    <p style="font-size: 20px;">{{data.message}}</p>
    <i class="{{data.icon}}" [style.color]="data.color" style="font-size: 45px;"></i>
  </div>
  <div class="modal-footer border-0">
    <ng-container *ngFor="let button of data.buttons">
      <button type="button" class="btn btn-primary" (click)="button.action()">{{ button.text }}</button>
    </ng-container>
  </div>
</div>