
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$OfficeOrganizer-primary: mat.define-palette(mat.$indigo-palette);
$OfficeOrganizer-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$OfficeOrganizer-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$OfficeOrganizer-theme: mat.define-light-theme((
  color: (
    primary: $OfficeOrganizer-primary,
    accent: $OfficeOrganizer-accent,
    warn: $OfficeOrganizer-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($OfficeOrganizer-theme);

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// custom variables

$primary: #9485c0;
$success: #d395b5;
$secondary: #71b7c4;
$light: #c7c7c7;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';


html, body { height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding-top: 3rem;
  background-color: #a5ccd6;

}

.container{
  width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

/* #b5b2d0, #aeb7d9, #c399a1, #8c617f, #463956 */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
