/* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%;
  background: #ece8e8;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* #b5b2d0, #aeb7d9, #c399a1, #8c617f, #463956 */
