<!-- User-Dashboard -->
<ng-container *ngIf="role === 'User'">
  <div class="align-items-center justify-content-center vh-100 d-flex">
    <div class="container-fluid">
      <div class="container">
        <div class="row justify-content-center ">
          <div class="col-lg-3">
            <div class="card mb-3">
              <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                  class="rounded-circle img-fluid" style="width: 150px;">
                <h4 class="my-3">{{username}}</h4>
              </div>
            </div>
            <a class="text-decoration-none" [routerLink]="['/todo']">
              <div class="card mb-3">
                <div class="card-body text-center">
                  <h4 class="mb-2">ToDo-Liste</h4>
                  <img src="../../../assets/images/checklist.jpg" alt="dodo" style="width: 100px;">
                </div>
              </div>
            </a>
            <a class="text-decoration-none" [routerLink]="['/calendar']">
              <div class="card mb-3">
                <div class="card-body text-center">
                  <h4 class="mb-2">Calendar</h4>
                  <p>{{selectedDate.toLocaleDateString()}}</p>
                  <img src="../../../assets/images/calendar-g910cf5fec_1280.png" alt="calendar" style="width: 120px;">
                </div>
              </div>
            </a>
          </div>
          <div class="col-lg-8">
            <div class="row mb-2">
              <div class="col-md-6">                
                  <div class="card mb-3 bg bg-secondary">
                    <div class="card-body text-center">
                      <h2 class="mb-4">Earnings</h2>
                      <p class="mb-1" style="font-size: 28px;">2500,- €</p>
                    </div>
                  </div>                  
                  <div class="text-center">
                    <button class="btn btn-secondary">Add Earnings</button>
                  </div>
              </div>
              <div class="col-md-6">                
                  <div class="card mb-3 bg bg-success">
                    <div class="card-body text-center">
                      <h2 class="mb-4">Expenses</h2>
                      <p class="mb-1" style="font-size: 28px;">2500,- €</p>                      
                    </div>
                  </div>                
                <div class="text-center">
                  <button class="btn btn-success" (click)="openPopup()">Add Expenses</button>
                </div>
              </div>
            </div>
            <a class="text-decoration-none" [routerLink]="['/financial']">
              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-3 bg-light">
                    <div class="card-body text-center">
                      <h2 class="mb-2">Umsätze</h2>
                      <p>vom 01.01.2023 bis 01.01.2023</p>
                      <img src="../../../assets/images/canvas.png" alt="chart" style="height: 212px;">
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- Admin-Dashboard -->

<ng-container *ngIf="role === 'Admin'">
  <div class="align-items-center justify-content-center vh-100 d-flex">
    <div class="container-fluid">
      <div class="container">
        <div class="card">
          <div class="card-header">
            <div class="mb-3 row">
              <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
              <div class="col-xs-3 col-sm-auto">
                <input id="table-complete-search" type="search" class="form-control" name="searchTerm"
                  [(ngModel)]="filter" />
              </div>
              <span class="col col-form-label">Loading...</span>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped table-bordered">
              <thead class="table-light">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col" sortable [appSort]="usersList" data-order="desc" data-name="username">Username</th>
                  <th scope="col" [appSort]="usersList" data-order="desc" data-name="email">E-Mail</th>
                  <th scope="col" [appSort]="usersList" data-order="desc" data-name="role">Role</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let user of usersList.slice((page - 1) * pageSize, page * pageSize) | users:filter; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{user.username}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.role}}</td>
                  <td class="text-center"><button class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i></button>
                    <button class="btn btn-sm btn-secondary"><i class="bi bi-pen-fill"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
              </ngb-pagination>
              <select class="form-select" style="width: auto" [(ngModel)]="pageSize">
                <option [ngValue]="10">10 items per page</option>
                <option [ngValue]="50">50 items per page</option>
                <option [ngValue]="100">100 items per page</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>