<!-- User-Dashboard -->
<ng-container *ngIf="role === 'User'">
<div class="row">
  <div class="col-lg-3">
    <div class="card mb-3">
      <div class="card-body text-center">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
          class="rounded-circle img-fluid" style="width: 150px;">
        <h1 class="my-3">{{username}}</h1>
      </div>
    </div>
    <a class="text-decoration-none" [routerLink]="['/todo']">
      <div class="card mb-3">
      <div class="card-body text-center">
        <h1 class="mb-2">ToDo-Liste</h1>
        <img src="../../../assets/images/checklist.jpg" alt="dodo"
         style="width: 100px;">
    </div>
    </div>
  </a>
  <a class="text-decoration-none" [routerLink]="['/calendar']">
    <div class="card mb-3">
      <div class="card-body text-center">
        <h1 class="mb-2">Calendar</h1>
        <p>01.01.2023</p>
        <img src="../../../assets/images/calendar-g910cf5fec_1280.png" alt="calendar"
         style="width: 120px;">
      </div>
    </div>
   </a>
  </div>
  <div class="col-lg-8">
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="card mb-3 bg bg-secondary">
          <div class="card-body text-center">
            <h1 class="mb-4" style="font-size: 38px;">Einnahmen</h1>
            <p class="mb-1" style="font-size: 28px;">2500,- €</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3 bg bg-success">
          <div class="card-body text-center">
            <h1 class="mb-4" style="font-size: 38px;">Ausgaben</h1>
            <p class="mb-1" style="font-size: 28px;">2500,- €</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card mb-3 bg-light">
          <div class="card-body text-center">
            <h1 class="mb-2">Umsätze</h1>
            <p>vom 01.01.2023 bis  01.01.2023</p>
            <img src="../../../assets/images/canvas.png" alt="chart"
             style="height: 212px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</ng-container>

<!-- Admin-Dashboard -->



<ng-container *ngIf="role === 'Admin'">

  <mat-card>
    <mat-card-header>
      <mat-form-field appearance="fill">
        <mat-label>Filter Table</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="users" matSort>

    <!-- # Column -->
    <ng-container matColumnDef="No.">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        No.
      </th>
      <td mat-cell *matCellDef="let element = index"> {{element + (paginator.pageIndex  * paginator.pageSize) + 1}} </td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="Username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Username
      </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- E-Mail Column -->
    <ng-container matColumnDef="E-Mail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        E-Mail
      </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Role
      </th>
      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>
</div>

</mat-card-content>
<mat-card-footer>
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Selected pages of users"></mat-paginator>

</mat-card-footer>
</mat-card>
</ng-container>
