// /* Global Styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

// custom variables

$primary: #9485c0;
$success: #d395b5;
$secondary: #71b7c4;
$light: #c7c7c7;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

html, body { 
  height: 100%;  
  background-color: #a5ccd6;
  font-family: "Montserrat", sans-serif; 
}

a {
  cursor: pointer;
}

.container{
  max-height: calc(100vh - 150px);
}

/* #b5b2d0, #aeb7d9, #c399a1, #8c617f, #463956 */