<div class="d-flex align-items-center h-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card">
          <div class="card-body p-5">
            <h1 class="text-center mb-5">Reset your Password</h1>
            <form [formGroup]="resetForm">
               <!-- Password -->
              <div class="input-group">
              
                <input type="password" formControlName="password" class="form-control" placeholder="Password"
                  [class.error]="resetForm.controls['password'].dirty && resetForm.hasError('required' , 'password')">
              </div>
              <small *ngIf="resetForm.controls['password'].dirty && resetForm.hasError('required' , 'password')"
                class="text-danger">*New Password is required</small>
                 <!-- ConfirmPassword -->
              <div class="input-group mt-5">
              
                <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password"
                  [class.error]="resetForm.controls['confirmPassword'].dirty && resetForm.hasError('required' , 'confirmPassword')">
                  <!-- <span (click)="hideShowPassword()" class="input-group-text"><i class="bi {{eyeIcon}}"></i></span> -->
              </div>
              <small *ngIf="resetForm.controls['confirmPassword'].dirty && resetForm.hasError('required' , 'confirmPassword')"
              class="text-danger">*Confirm Password is required</small>
              <small *ngIf="resetForm.hasError('ConfirmPasswordValidator' , 'confirmPassword')"
              class="text-danger">*Password doesn't match</small>              
              <div class="d-flex justify-content-center mt-5">
                <button (click)="reset()" [disabled]="resetForm.invalid" type="submit" class="btn btn-lg btn-light">Reset Password</button>
              </div>
            </form>
          </div>
         
        </div>
      </div>
    </div>
  </div>