<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="p-5 text-center">
    <img class="bi mt-4 mb-3" src="../../../assets/images/OfficeOrganizerLogo.png" width="100" height="100">
  
    <h1>OfficeOrganizer</h1>
    <p class="col-lg-8 mx-auto fs-5">
      Behalte deine Finanzen und deine Termine im Blick!
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <img class="bi mt-4 mb-3" src="../../../assets/images/Laptop.png" width="250" height="250">
    </div>  
  </div>
</div>
