.container {
  margin-top: 6rem;
}

.card{
  background: linear-gradient(#b5b2d0, #aeb7d9, #c399a1, #8c617f, #463956);
}

.register-button{
  background-color: #463956;
  color: rgb(255, 255, 255)
}

.error{
  border-color: red;
}
