<div class="modal-content">
  <h1 class="modal-title text-center m-3">Forget your Password?</h1>
  <div class="modal-body">
    <h3>Please provide your E-Mail we will send the reset link</h3>
    <div class="form-group">
      <label for="resetPasswordEmail">E-Mail</label>
      <input type="email" class="form-control" id="resetPasswordEmail" [(ngModel)]="resetPasswordEmail"
        (ngModelChange)="checkValidEmail($event)" autofocus>
      <small *ngIf="!resetPasswordEmail" class="text-danger">*E-Mail is required</small>
      <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">*E-Mail is invalid</small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmToSend()">Send</button>
    <button type="button" class="btn btn-light" (click)="activeModal.close()">Close</button>
  </div>
</div>
