<div class="modal-content">
  <div class="modal-header justify-content-center">
    <h3 class="modal-title m-3">Forget your Password?</h3>
  </div>
  <div class="modal-body">
    <p>Please provide your E-Mail we will send the reset link</p>
    <div class="form-group">     
      <input type="email" class="form-control" placeholder="E-Mail" id="resetPasswordEmail" [(ngModel)]="resetPasswordEmail"
        (ngModelChange)="checkValidEmail($event)" autofocus>
      <small *ngIf="!resetPasswordEmail" class="text-danger">*E-Mail is required</small>
      <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">*E-Mail is invalid</small>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="confirmToSend()">Send</button>
    <button type="button" class="btn btn-light" (click)="activeModal.close()">Close</button>
  </div>
</div>
