<h1 mat-dialog-title>Forget your Password?</h1>
<div mat-dialog-content>
  <P>Please provide your E-Mail we will send the reset link</P>
  <mat-form-field>    
    <mat-label>E-Mail</mat-label>
    <input matInput [(ngModel)]="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)">
  </mat-form-field>
  <small *ngIf="!resetPasswordEmail" class="text-danger">*E-Mail is required</small>
  <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">*E-Mail is invalid</small>
</div>
<div mat-dialog-actions>
  <button (click)="confirmToSend()" mat-raised-button color="primary" mat-dialog-close>Send</button>
  <button mat-raised-button color="accent" mat-dialog-close>Cancel</button>
</div>
